@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .idhf{
        font-size:12px
    }
}

@layer base {
    h1{
        font-weight:bold;
        font-size:30px;
        line-height:normal;
    }
    h2{
        font-weight:bold;
        font-size:22px;
    }
}